.third-carousel-item {
    height: 65vh;
    background-image: url(./wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
