.single-product {
    height: 200px;
    width: 300px;
    border: 2px solid black;
    padding: 1rem;
    position: relative;
    border-radius: 3%;

    h3 {
        padding: 1rem 0rem;
    }
}

.product-img {
    height: 200px;
    width: 200px;
}

.details-btn {
    background-color: #4788fc;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6%;
    text-decoration: unset;
    position: absolute;
    bottom: 15%;
}