.single-product {
    height: 300px;
    width: 300px;
}

.product-img {
    height: 200px;
    width: 200px;
}

.details-btn {
    background-color: #4788fc;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6%;
    text-decoration: unset;
}