.search-section {
    height: 65vh;
    padding-left: 1rem;

    .search-holder {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        gap: 6px;
    }


}

