.search-section {
    height: 65vh;
    padding-left: 1rem;

    .search-holder {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        gap: 6px;
    }

    .no-products-found {
        text-align: center;
        color: red;
        font-size: 1.2rem;
        padding-top: 3rem;
    }

}

