.all-products {
    height: 65vh;
    padding-left: 2rem;
}

.products-container {
    display: flex;
    gap: 2rem;
}

.products-header {
    text-align: center;
    padding: 1rem 0rem;
    font-size: 1.5rem;
}


.no-products-added {
    text-align: center;
    padding-top: 3rem;
}