.first-carousel-item {
    height: 65vh;
    background-image: url(./kitchen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-area {
    width: 400px;
    height: 120px;
    background-color: #ba3948; 
    font-size: 1.5rem;
    opacity: 85%;
    color: white;
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center;
}
